body {
    background-color: rgb(34, 34, 34) !important;
    color: #ffffff !important;
    direction: rtl;
}

*{
  
  font-family: Tajawal;
  
}
table {
  background-color: black;
  color: white;
  border-collapse: collapse;
  width: 5cm;
  direction: rtl;

}
th, td {
  padding: 8px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #333;
  color: white;
}

button{
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
  color:white;
  background:rgb(8, 88, 179);
  width: 180px;
  height: 50px;
  font-size: 22px;
}

button:hover {
  background-color: rgb(54, 164, 253);
 
}

a{
  text-decoration: none ; 
  color: rgb(60, 137, 253);
  font-size: 0.5cm;
}

summary{
  border: 2px solid rgba(0, 146, 190, 0.918);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height:2cm;
  color: rgb(255, 255, 255);
  text-align: right;
  margin-left : 0.5cm !important;
  margin-right : 0.5cm !important;
}

summary h2{
  font-size: 0.6cm !important;
}

footer{
  background-color: rgb(49, 49, 49);
  text-align: center;

}


.article{
  background-color: rgb(245, 245, 245);
  color : black;
  opacity:0.85;
  border-radius: 0.5cm;
  width:90%;
  height: auto;
  margin: 0 auto;
  padding: 0.6cm;
  min-height: 10cm;
}

.article ul{
  margin-right: 1.5cm;;
}

.article p{
  font-size: 0.5cm;
  margin-right: 1.5cm;
}

.article ul li p {
  margin-right: 0;
}


header{
  color: rgb(255, 255, 255);
  background-color: rgb(167, 2, 2);
  height: 0.8cm;
  padding: 14px 16px;
  font-size: 0.5cm;
  text-align: center;
}

summary h2{
  text-align: right;margin-right:1cm;;margin-top:-0.05cm;
}

@font-face {
  font-family: 'Tajawal';
  src:  url('tajawal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Diwani';
  src:  url('diwani.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.code{
  width: 9vm;
  min-height: 1cm;
  line-height: 1cm;;
  height: auto;
  background-color: #272727;
  color:white;
  font-size: 0.6cm;
  display:block;
  margin:0 auto;
  padding: 1cm;;
  border-radius: 0.4cm;
  letter-spacing: 0.03cm;
  overflow: auto;
}

.articleBody{
  background-image: url(../imgs/img1.jpeg);
  background-repeat : no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


p{
  font-size: 0.4cm;
}